<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticketin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/menuLateral.css">
</head>
<body>
    <header class="header">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
            }
            <nav class="menu">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-dark font-italic" asp-area="" asp-controller="Cliente" asp-action="Details">@User.Identity.Name</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Salir">Salir</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Login">Inciar Sesión</a>
                }
            </nav>
        </div>
    </header>

    <!--	--------------->
    @if (User.Identity.IsAuthenticated)
    {
        <input type="checkbox" id="btn-menu">
        <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <a href="#">Mis tarjetas</a>
                <a href="#">Mis entradas</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ticketin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
