@{
    ViewData["Title"] = "Admin";
}
<div class="card" style="width: 18rem;">
    <img src="https://fmrockandpop.com/media/k2/items/cache/74ed478e174bc1197e0faa81a36609f0_L.webp?t=20210923_181942" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="~/Show/Index" class="btn btn-primary">Monitoreo de Shows</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="https://www.elliberal.com.ar/fotos/notas/2017/03/13/PRV130317-002F01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="~/Localidad/Index" class="btn btn-primary">Monitoreo de Localidades</a>
    </div>
</div>

<div class="card" style="width: 18rem;" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81iX4Mo49Z3oCPSx-GtgiMAkdDop2uVmVvw&usqp=CAU" class="card-img-top" style="max-height:600px;" alt="...">
    <div class="card-body">
        <a href="~/Cliente/Index" class="btn btn-primary">Monitorear Usuarios</a>
    </div>
</div>

