@model Trabajo_VentaEntradas.Models.Cliente

@{
    ViewData["Title"] = "Register";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/estiloRegistro.css" />
</head>

<div class="row">
    <div class=" divForm col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" placeholder="Apellido" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" placeholder="DNI" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasenia" class="control-label"></label>
                <input asp-for="contrasenia" class="form-control" placeholder="Contraseña" />
                <span asp-validation-for="contrasenia" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="Login" asp-action="Login">Regresar a login</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrarse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

