html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    background-image: url(https://gerente.com/co/wp-content/uploads/sites/16/2017/04/concierto-rsm.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.divForm {
    color: #c7c5c1;
    width: 350px;
    border-radius: 8px;
    background-color: rgba(36, 36, 36, 0.7);
    box-shadow: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.btn {
    color: #EEEEEE;
    background-color: #333941;
    height: 48px;
    border-radius: 15px;
    width: 100%;
    font-size: 1.2em;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

    .btn:hover {
        background-color: #0e62b5;
    }

    .btn:active {
        background-color: #0e62b5;
    }

a {
    color: #3081bf;
}

    a:hover {
        color: darkturquoise;
    }
